*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;

}

    /* Aeeow icon style */

.logo{
    align-items: center;
}

.arrow-logo{
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 6px 7px;
}

.arrow-logo i{
    transform: rotate(315deg);
    border-radius: 50%;
}
    /* Aeeow icon style End */



.herotext button{
    background-color: #d0fa9f;
    border: 1px solid #9ce34c;
    cursor: pointer;
}

.portfolio-box .box1, .box2, .box3, .box4, .box5{
    border: 1.5px solid #e4e2e2;
}

.portfolio-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}

.portfolio-box .box1{
    grid-column: 1 / span 3;

}

.portfolio-box .box2{
    grid-column:  span 2;

}

.portfolio-box .box4{
    grid-column: span 3;

}


.Connect-Section-container{
    background-image: url(assets/bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 0.5rem solid white;
}

.connect-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}

.connect-box .box5{
    grid-column: 1 / span 2;
    grid-row: span 2;

}

.connect-box .box6{
    grid-column: 1 / span 2;

}



/* Media  query Start */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {


    /* Nav-bar section */

    .nav-bar .logo i{
        font-size:22px;
    }

    .nav-bar .menu-icon{
        display: initial;
    }

    .nav-bar .menu-icon i{
        font-size: 2.1rem;
    }


    .nav-bar .text-area{
        display: none;
    }

    .nav-right i, .search-icon, .shoping-cart, .btn{
        display: none;
    }


    /* hero section */

    .herotext{
        width: 90%;
    }
    .herotext h2{
        font-size: 2.1rem;
        margin-top: 10px;
    }

    .herotext p{
        width: 100%;
        font-size: 14px;
    }


    /* About us section */

    .about-Section{
        flex-direction: column;
        align-items:center;
    }
    .aboutUs .vector{
        display: none;
    }

    .about-Section .about-us-left{
        width: 100%;
    }
    .about-Section .about-us-left .about-text{
        align-items: center;
    }

    .about-Section .about-us-left .about-text h2{
        font-size: 30px;
        line-height: 2.5rem;
        text-align: center;
    }

    .about-Section .about-us-left .about-text p{
        text-align: center;
        margin-bottom: 35px;
    }


    .Commercial .text-area p{
        width: 90%;
        margin-bottom: 2px;

    }

    .Commercial .text-area{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .Commercial img{
        height: 60px;
    }

    .Commercial{
        gap: 10px;
        padding-bottom: 0px;
    }

    .Residential .text-area p{
        width: 90%;
        margin-bottom: 2px;

    }

    .Residential .text-area{
        display: flex;
        flex-direction: column;
        align-items: start;

    }

    .Residential img{
        height: 60px;
    }

    .Residential{
        gap: 10px;
        padding-bottom: 0px;
    }

    .about-Section .about-us-right{
        width: 100%;
    }

    .about-Section .about-us-right .img{
        padding:0;
        margin-top: 15px;
    }


    /* rating section */

    .rating{
        flex-direction: column;
        margin-top: 35px;
        gap: 50px;
        width: 85%;
    }


    /* Works-Process section */

    .Works-Process .text-area h2{
        margin: 30px 0;

    }

    .Works-Process .text-area p{
        width: 80%;
    }

    .Works-Process .box-area{
        flex-wrap: wrap;
    }


    /* latest Portfolio section */

    .portfolio-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfolio-box .box1{
        flex-direction: column;
    }


    .portfolio-box .box4{
        display: flex;
        flex-direction: column;
    }

    .portfolio-box .box2 img{
        width: 438px;
        height: 302px;
    }

    .portfolio-box .box3 img{
        width: 438px;
        height: 302px;
    }

    .portfolio-box .box5 img{
        width: 438px;
        height: 302px;
    }


    /* Articles and News section */

    .Articles-section .text-area{
        padding-top: 60px;
    }

    .Articles-section .text-area h2{
        font-size: 24px;
        margin: 15px;
    }

    .Articles-section .text-area p{
        width: 80%;

    }
    .Articl-box{
        flex-wrap: wrap;
    }



    /* Connect Section */

    .Connect-Section-container .text-area p{
        width: 85%;
    }

    .connect-box{
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }

    .connect-box .box5 textarea{
        padding-bottom: 4rem;
    }

    .connect-box .box6 input{
        padding: 0.6rem 0;
    }



    /* Footer Section */

    .footer-para{
        width: 70%;
    }

    .footer-para .logo h2{
        font-size: 2.5rem;
    }

    .footer-para .logo{
        gap: 9px;
    }

    .footer-para .logo .arrow-logo i{
        font-size: 20px;
    }

    footer .text-area ul{
        flex-direction: column;
        gap: 3rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
    /* Extra small devices (phones, 600px and down)  /* Media  query End */
